<style>
    .s-profile > a {
        background-image: url("<%= image_path("bkgds/mountains.png") %>");
    }

</style>

<aside id="sidebar" class="sidebar c-overflow">
    <div class="s-profile">
        <a href="" style="cursor: default;">
            <div class="sp-pic">
                <%= image_tag "demo/profile-pics/1.jpg" %>
            </div>

            <div class="sp-info">
                <%= current_admin.full_name %>

                <!-- <i class="zmdi zmdi-caret-down"></i> -->
            </div>
        </a>

        <ul class="main-menu" style="display: block">
            <li>
                <%= link_to '<i class="zmdi zmdi-account"></i> Profile'.html_safe, edit_admins_administrator_path(current_admin) %>
            </li>
            <li>
                <%= link_to '<i class="zmdi zmdi-time-restore"></i> Sign Out'.html_safe, destroy_admin_session_path, method: :delete %>
            </li>
        </ul>
    </div>

    <ul class="main-menu">

        <li>
            <%= link_to('<i class="zmdi zmdi-chart"></i> Dashboard'.html_safe, admins_dashboard_path) %>
        </li>

        <li class="sub-menu toggled">
            <a href="" data-ma-action="submenu-toggle">
                <i class="zmdi zmdi-lock-open"></i>
                Access</a>

            <ul style="display: block">
                <li>
                    <%= link_to 'Accounts', admins_accounts_path %>
                </li>
                <li>
                    <%= link_to 'Administrators', admins_administrators_path %>
                </li>
            </ul>
        </li>

        <li class="sub-menu toggled">
            <a href="" data-ma-action="submenu-toggle">
                <i class="zmdi zmdi-settings"></i>
                Configuration</a>

            <ul style="display: block">
                <li>
                    <%= link_to 'Sales Collateral', "" %>
                </li>

            </ul>
        </li>

    </ul>
</aside>
