<style>
    .s-profile > a {
        background-image: url(<%= image_path("bkgds/mb-bg-fb-08.png") %>);
    }

</style>

<aside id="sidebar" class="sidebar c-overflow">
    <div class="s-profile">
        <a href="" style="cursor: default;">
            <div class="sp-pic">
                <%= image_tag "demo/profile-pics/1.jpg" %>
            </div>

            <div class="sp-info">
                <%= current_user.full_name %>

                <!-- <i class="zmdi zmdi-caret-down"></i> -->
            </div>
        </a>

        <ul class="main-menu" style="display: block">
            <li>
                <a href="profile-about.html">
                    <i class="zmdi zmdi-account"></i>
                    Profile</a>
            </li>
            <li>
                <%= link_to '<i class="zmdi zmdi-time-restore"></i> Sign Out'.html_safe, destroy_user_session_path, method: :delete %>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
      <%# if current_user.is_ready_to_start? %>
    <li>
      <%= link_to('<i class="zmdi zmdi-chart"></i> Dashboard'.html_safe, root_path) %>
    </li>
    <% if current_user.is_owner? %>
    <li class="sub-menu">
        <a href="" data-ma-action="submenu-toggle">
            <i class="zmdi zmdi-assignment-check"></i>
            Access</a>

        <ul>
            <li>
                <a href="#">Accounts</a>
            </li>
            <li>
                <a href="#">Users</a>
            </li>
        </ul>
    </li>
    <% end %>

    <%# end %>

    </ul>
</aside>
