<!DOCTYPE html>
<html>
    <head>
        <title><%= ENV['GIZMO_SITE_TITLE'] %></title>
        <%= csrf_meta_tags %>
        <link rel="shortcut icon" href="/favicon.png" type="image/png">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <%= render partial: 'core/header' %>
        <section id="main">
            <%= render partial: 'core/navigator' %>

            <section id="content">
                <%= yield %>
            </section>
        </section>

        <%= render partial: 'core/footer' %>



    </body>

</html>
