<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
        <meta charset="utf-8"/>
        <title><%= ENV['GIZMO_SITE_TITLE'] %></title>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"/>
        <link rel="apple-touch-icon" href="pages/ico/60.png">
        <link rel="apple-touch-icon" sizes="76x76" href="<%= image_url 'pages/ico/76.png' %>">
        <link rel="apple-touch-icon" sizes="120x120" href="<%= image_url 'pages/ico/120.png' %>">
        <link rel="apple-touch-icon" sizes="152x152" href="<%= image_url 'pages/ico/152.png' %>">
        <link rel="shortcut icon" href="/favicon.png" type="image/png">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <meta content="" name="description"/>
        <meta content="" name="author"/>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


        <style>
            .turbolinks-progress-bar {
                background: #6d5cae;
            }

        </style>

    </head>
    <body class="">
        <div class="login-content bgm-primary">
            <!-- Login -->
            <div class="lc-block toggled" id="l-login">
                <div class="lcb-form">
                    <%= yield %>
                </div>

            </div>
        </div>

    </body>
</html>
